﻿@model Tradingzone3.Models.Broker

@{
    ViewBag.Title = "Broker Details";
}

<h2>Broker Details</h2>
<table style="font-family: Calibri">
    <tr>
        <td><b>Broker ID</b></td>
        <td>@Model.BrokerId</td>
    </tr>
    <tr>
        <td><b>Broker Name</b></td>
        <td>@Model.BrokerName</td>
    </tr>
    <tr>
        <td><b>Broker Type</b></td>
        <td>@Model.BrokerType</td>
    </tr>
    <tr>
        <td><b>Brokerage</b></td>
        <td>@Model.Brokerage</td>
    </tr>
</table>
@Html.ActionLink("Back to list", "Index" , new { id = @Model.FirmId})
