﻿@using Tradingzone3.Models
@model IEnumerable<Tradingzone3.Models.Broker>

@{
    ViewBag.Title = "Broker List";
}
<div style="font-family: calibri">
    <h2>Broker List</h2>
    <ul>
        @foreach (Broker broker in @Model)
        {
            <li>@Html.ActionLink(broker.BrokerName, "Details", new { @id = broker.BrokerId }) </li>
        }
    </ul>
@Html.ActionLink("Back to Firm List", "Index", "Firm", null, null)
</div>

