﻿@model BusinessLayer.Broker

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Broker</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BrokerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BrokerName)
            @Html.ValidationMessageFor(model => model.BrokerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BrokerType)
        </div>
        <div class="editor-field">
            @Html.DropDownList("BrokerType", new List<SelectListItem> {
                new SelectListItem{ Text = "FIX", Value = "FIX"},
                new SelectListItem{ Text = "IOI", Value = "IOI"},
                new SelectListItem{ Text = "BKR", Value = "BKR"},
                new SelectListItem{ Text = "ALGO", Value = "ALGO"}}, "Select Broker Type")
            @Html.ValidationMessageFor(model => model.BrokerType)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Brokerage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brokerage)
            @Html.ValidationMessageFor(model => model.Brokerage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirmId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirmId)
            @Html.ValidationMessageFor(model => model.FirmId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

