﻿@model IEnumerable<BusinessLayer.Broker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrokerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrokerType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brokerage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirmId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        using (Html.BeginForm("Delete", "Home", new { id = item.BrokerId })) {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrokerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrokerType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brokerage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirmId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BrokerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BrokerId }) |

                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete record with ID = @item.BrokerId');"/>


                </td>
            </tr>
        }
    }

</table>
