﻿@model TradingzoneWithEFCrud.Models.Broker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Broker</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.broker_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broker_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.broker_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broker_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brokerage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brokerage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firm_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firm_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.broker_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
