﻿@model IEnumerable<TradingzoneWithEFCrud.Models.Broker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.broker_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.broker_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brokerage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firm_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.broker_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.broker_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brokerage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firm_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.broker_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.broker_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.broker_id })
        </td>
    </tr>
}

</table>
