﻿@using Tradingzone3.Models
@model IEnumerable<Broker> 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (Broker broker in Model.ToList())
{
    <table style="font-family: Calibri">
    <tr>
        <td><b>Broker ID</b></td>
        <td>@broker.BrokerId</td>
    </tr>
    <tr>
        <td><b>Broker Name</b></td>
        <td>@broker.BrokerName</td>
    </tr>
    <tr>
        <td><b>Broker Type</b></td>
        <td>@broker.BrokerType</td>
    </tr>
    <tr>
        <td><b>Brokerage</b></td>
        <td>@broker.Brokerage</td>
    </tr>
</table>

}
@Html.ActionLink("Back to Firm List", "Index", "Firm")