﻿@using Tradingzone3.Models
@model IEnumerable<Tradingzone3.Models.Firm>

@{
    ViewBag.Title = "Firm List";
}

<h2>Firm List</h2>
<table>
    @foreach (Firm firm in @Model)
    {
        <tr>
            <td>@Html.ActionLink(firm.FirmName, "Index", "Broker", new { id = firm.FirmId}, null) </td>
        </tr>
    }
</table>

